.App {
	--bg-color: #861657; /* Fallback until setRandomBackgroundColor runs */
	background-color: var(--bg-color);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.text-style {
	--font-size: calc(16px + 2vmin);
	font-size: var(--font-size);
	font-family: "Arial Black", "Arial", Gadget, sans-serif;
	color: white;
	font-size: calc(16px + 2vmin);
	letter-spacing: 0.1em;
}

.subreddit-input {
	margin: 5vw 0;
}
.subreddit-input input {
	background-color: transparent;
	border: transparent;
	outline: none;
	width: 50vw;
	text-decoration: none;
	border-bottom: 2px solid white;
	transition: 0.5s;
	text-overflow: ellipsis;
}

.subreddit-input input:focus {
	border-bottom: 6px solid white;
	margin-bottom: -4px;
}

.subreddit-input input::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.subreddit-submit {
	display: inline;
}

.subreddit-submit-button {
	background-color: transparent;
	border: 2px solid white;
	outline: none;
	margin-left: 2.5vw;
	transition: 0.25s;
}

.subreddit-submit-button:hover, .subreddit-submit-button:focus {
	background-color: white;
	color: var(--bg-color);
	cursor: pointer;
}

.subreddit-poem {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin: 5vh 7.5vw;
}

.subreddit-poem-line {
}

.link {
	text-decoration: none;
	border-bottom: 2px solid white;
	font-size: calc(var(--font-size) - 8px);
}

footer {
	margin-top: auto;
	margin-bottom: 5vh;
}
